{% extends "base.html" %}

{% block css %}
<style>
body {
  font-family: Arial;
}

input, select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button.submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

</style>
{% endblock %}
{% block content %}
<div class="container">
  <form method="POST" action="{% url 'edit_menu' menu_id=menu.id %}">
  <h3>Edit Menu</h3>
  <a href={% url 'home' %}>Home</a>
    {% csrf_token %}
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div clas="form">
    <span class="label"> Menu Name: </span>
    <input type="text" value="{{menu.name}}" name="menu_name">
    <span class="label"> Menu Type </span>
    <select name="menu_type">
    {% for menu_type in menu_types %}
        {% if menu.type.id == menu_type.id %}
        <option value="{{menu_type.id}}" selected>{{menu_type.type_name}}</option>
        {% else %}
        <option value="{{menu_type.id}}">{{menu_type.type_name}}</option>
        {% endif %}
    {% endfor %}
    </select>
    <span class="label"> Price: </span>
    <input type="number" value="{{menu.price}}" name="price">
    <span class="label"> Quantity in Servings: </span>
    <input type="text" value="{{menu.quantity}}" name="quantity">
    <span class="label"> Taste: </span>
    <input type="taste" value="{{menu.taste}}" name="taste">
    <span class="label"> Description: </span>
    <textarea name="description">{{menu.description}}</textarea>

  
    <button type"submit" class="submit"> Submit</button>
  </form>
  </div>
  </div>
{% endblock content %}