{% extends "base.html" %}

{% block title %} Tables {% endblock %}
{% block css %}
<style>
.rms-menu-item{
  padding:5px;
  min-height: 50px;
  border : 1px red solid;
  display: block;
  width: auto;
  margin:10px;
}
.rms-menu-item-remove{
  margin:5px;
  float:right;
  border: 1px blue solid;
}
.column {
  float: left;
  width: 33.33%;
  overflow-y: auto;
  height: 800px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.d-table {
  min-width: 300px;
  min-height: 300px;
  background: lightgrey;
  display: block;
  width: 1px solid red;
} 

.d-table ul {
  list-style-type: none;
}
.d-column li, .d-column span {
  display: inline-block;
  border: 1px solid blue;
  width: 150px;
  height: 20px;
  text-align:center;
  margin-left:200px;
}

.d-row li {
  padding: 10px;
  display: inline-block;
  background: #f2f229;
  border: 1px solid red;
  width: 300px;
  height: 200px;
}
.right{float:right;}
.right{text-align:center;}
</style>
{% endblock %}
{% block content %}
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2> Tables|{{tables|length}}</h2>
    
    <div class="d-table">
    <ul class="d-column">
     {% comment %} <li>Table Name|Capacity </li>     {% endcomment %}
     <li title="Add Table"><a href="{% url 'add_table' %}">+Add Table</a></li>    
    </ul>
    {% for table in tables %}
    <ul class="d-row">
      <li> {{table.name}}|   
            <span class="center"><a href="{% url 'modify_table' table_id=table.id %}"> {{table.capacity}} </a></span>&nbsp;
            <span class="right"><a href="{% url 'remove_table' table_id=table.id %}"> X </a></span></li>
    </ul>
    {% endfor %}
    
  </div>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2> Menu|{{menu|length}}  </h2>
    <div class="d-column">
      <span title="Add Menu"><a href="{% url 'add_menu' %}">+Add Menu</a></span>  
    </div>
    <div class="row">
    {% for item in menu %}
            <div class="rms-menu-item-remove">
              <span class="right"><a href="{% url 'remove_menu' menu_id=item.id %}"> X</a><span>
            </div>
            <div class="rms-menu-item">
               <span>Menu Name: <a href="{% url 'edit_menu' menu_id=item.id %}">{{item}}</a> </span> |
               <span>Type: <a href="#"> {{item.type}}</a> </span>|
               <span>Quantity:<a href="#">  {{item.quantity}}</a> </span>|
               <span>Price:<a href="#"> {{item.price}}</a><span>
              </div>
        {% endfor %}
    </div>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Orders</h2>
    <div class="rms-place-order form-group">
      <select name='order_table'>
      {% for table in tables %}
        <option value='{{table.id}}'>{{table}}</option>
      {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <select name='order_table'>
      {% for item in menu %}
        <option value='{{item.id}}'>{{item.name}}</option>
      {% endfor %}
      </select>
    </div>
  </div>
</div>


{% endblock content %}